section
  section
    h2 AngularJS
    p
      a(href="http://angularjs.org") http://angularjs.org
    p 35756*

  section
    h2 Concept
    p AngularJS is a full-stack framework with controllers, services, custom tags (called "directives")
    p Templates are regular html with special AngularJS attributes ng-*=
    ul
      li ng-repeat
      li ng-show
      li ng-class
      li ...


  section
    h3 Pros
    ul
      li Full MVC framework
      li The power of "dependency injection" (unit test)
      li Templates easy to write
      li A lot of magic
      li Big community
      li
        | A lot of exciting projects!

  section
    h3 Cons
    ul
      li Does not play well with legacy (jQuery plugins)
      li You have the learn the "Angular way"
      li Building custom components (using "directives”) is not very convenient
      li Not compatible with IE8 since v1.3
      li Too much magic!

  section
    h3 The future
    p A lot of exciting projects!
    ul
      li
        a(href="https://material.angularjs.org/") Material Angular
      li
        a(href="http://ionicframework.com/") Ionic
        | (mobile hybrid framework)
    p Angular 2.0 will change everything!
