section
  section
    h2 AngularJS

  section
    h3 Pros
    ul
      li Full MVC framework
      li The power of "dependency injection" (unit test)
      li A lot of magic
      li Big community
      li
        | A lot of exciting projects!
        a(href="https://material.angularjs.org/#/") Material Angular
  section
    h3 Cons
    ul
      li Does not play well with legacy (jQuery plugins)
      li Not compatible with IE8 since v1.3
      li Too much magic!

  section
    h3 The future
    p Angular 2.O will change everything!
