section
  h2 Why choose a UI framework ?

section
  section
    h2 Why is it so difficult to choose ?

  section
    h2 So many JS frameworks
    a(href="http://todomvc.com/") ToDoMVC.com
    p "Helping you select an MV* framework"
    p 63 JavaScript frameworks’ todo examples!

  section
    h2 The reasons
    ul
      li Web browser evolution
      li the entirety of your app framework must be downloaded and parsed before users even see your app

    p
      a(href="http://www.allenpike.com/2015/javascript-framework-fatigue/") More detail...

section
  h2 Points
  ul
    li Full MVC framework ? Only the View layer ?
    li Which features do we need? 2-way binding, routing ?
    li Simple to learn, easy to read ?
    li Library size (fast to download ?)
    li Easy to integrate in existing applications ?
    li IE8 compatibility ?
    li Good support from the community



