section
  section
    h2 Riot

  section
    h3 Pros
    ul
      li Modular approach with "custom tags"
      li Easy to learn
      li Templates easy to write and easy to code
      li A super light library (fas to download)
      li IE8 compatible

  section
    h3 Cons
    ul
      li Very young project (Riot 2.O was released in 2015 January), some bugs, small community
      li Only the View layer
