section
  section
    h2 Riot
    a(href="https://muut.com/riotjs") https://muut.com/riotjs
    p 5531*

  section
    h3 Concept
    p Create "custom html tags", that contain both the view and the business logic.
    p Riot compilation can be done in the browser.

    p API is very simple, a few view helpers are provided, but it all that we need!
    ul
      li each
      li show
      li hide
      li class

  section
    h3 Pros
    ul
      li Modular approach with "custom tags"
      li Easy to learn, a simple API
      li Easy to read: template (markup) and JavaScript code in the same place.
      li A super light library (fast to download)
      li IE8 compatible

  section
    h3 Cons
    ul
      li Very young project (Riot 2.O was released in 2015 January), some bugs, small community
      li Only the View layer
